/*
To change this license header, choose License Headers in Project Properties.
To change this templates file, choose Tools | Templates
and open the templates in the editor.
*/
/*
    Created on : 01-Dec-2022
    Author     : aysenurdeniz
*/

:root {
    --bar-1: #922B21;
    --bar-2: #B03A2E;
    --bar-3: #A04000;
    --bar-4: #AF601A;
    --bar-5: #B9770E;
    --bar-6: #B7950B;
    --bar-7: #27AE60;
    --bar-8: #1E8449;
    --bar-9: #196F3D;
    --bar-10: #145A32;

    --color1: #050934;
    --color2: #001A50;
    --color3: #032470;
    --color4: #0656D9;
    --color5: #3D88EE;
    --color6: #050F40;
    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* -------- for Body -------- */

body {
    padding-bottom: 80px;
    margin: 0px;
    text-decoration: none;
    font-size: 0.85rem;
    font-family: var(--font-sans-serif);
    background: var(--white-rgb);
}

.bg-search {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(22, 22, 22, 0.6)), url("../img/background.jpg") no-repeat;
    background-size: cover;
}

.form-group, .form-select, input[type=text], input[type=password], .btn, input[type=submit] {
    font-size: 0.85rem;
}

.w-b {
    width: 100px;
}

/* -------- for Navbar -------- */

.nav_a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.nav_a:hover {
    color: var(--color5);
    text-decoration: none;
    padding: 5px;
}

.nav_a_active {
    color: var(--color4);
}

/* -------- for Footer -------- */

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 0.70rem;
    color: black;
    background: linear-gradient(rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.8)), url("../img/background.jpg") no-repeat;
    background-size: cover;
    text-decoration: none;
}

.footer_a {
    color: var(--color4);
    text-decoration: none;
}

.footer_a:hover {
    color: var(--color3);
}

/* -------- for Results -------- */

.results-title {
    text-decoration: none;
    color: var(--color3);
    font-size: 15px;
    font-weight: bold;
}

.results-aas, .results-iaa {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.read-more {
    color: var(--color3);
    text-align: right;
}

/* -------- for Post -------- */

.post {
    padding: 10px;
    margin-top: 30px;
    border: lightgray solid 1px;
    border-radius: 0px 25px 25px 25px;
}

.post_name {
    font-size: 16px;
    font-weight: bold;
}

.post_date {
    font-size: 10px;
    color: #6c757d;
}

.post_image {
    width: 70px;
    height: 70px;
    border: white solid 1px;
    border-radius: 50px;
    padding: 2px;
    margin: 2px;
}


/* -------- for Pagination -------- */

/* -------- for Progress -------- */

#progress-bar-1 {
    background-color: var(--bar-1);
    width: 10%;
}

#progress-bar-2 {
    background-color: var(--bar-2);
    width: 20%;
}

#progress-bar-3 {
    background-color: var(--bar-3);
    width: 30%;
}

#progress-bar-4 {
    background-color: var(--bar-4);
    width: 40%;
}

#progress-bar-5 {
    background-color: var(--bar-5);
    width: 50%;
}

#progress-bar-6 {
    background-color: var(--bar-6);
    width: 60%;
}

#progress-bar-7 {
    background-color: var(--bar-7);
    width: 70%;
}

#progress-bar-8 {
    background-color: var(--bar-8);
    width: 80%;
}

#progress-bar-9 {
    background-color: var(--bar-9);
    width: 90%;
}

#progress-bar-10 {
    background-color: var(--bar-10);
    width: 100%;
}

.rating {
    padding: 17px;
    border: 1px silver solid;
    border-radius: 25px;
}

.rating::-webkit-slider-thumb {
    background: #001A50;
    border: 1px;
    border-radius: 3px;
}

.rating::-moz-range-thumb {
    background: blue;
    border: 1px;
    border-radius: 5px;
}

.rating::-ms-thumb {
    background: green;
}

.text-justify {
    text-align: justify;
}

