{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block body_content %}

<div class="container p-5">
    <div class="row">
        <div class="col-lg-6">
            <p> <b> Address: </b> Inonu University </p>
            <p> <b> Phone: </b> (0422) 000 00 00</p>
        </div>
        <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.832395518055!2d38.447277!3d38.32971190000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40763850b7fce7c3%3A0xb0fb36bce869b935!2zxLBuw7Zuw7wgw5xuaXZlcnNpdGVzaSBNw7xoZW5kaXNsaWsgRmFrw7xsdGVzaQ!5e0!3m2!1str!2str!4v1670269949125!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}