{% extends "base.html" %}
{% block title %}Full Text Search{% endblock %}
{% block navbar_title %}
<p> SOLR vs ELASTICSEARCH </p>
{% endblock %}
{% block body_content %}
<div class="container-fluid p-3">
    <div class="input-group">
        <form class="input-group" action="/" method="post">
            <div class="form-check m-2">
                <input class="form-check-input" type="radio" name="keywords" id="keywords" value="True"/>
                <label class="form-check-label" for="keywords"> Keywords </label>
            </div>
            <div class="form-check m-2">
                <input class="form-check-input" type="radio" name="abstract" id="abstract" value="True"/>
                <label class="form-check-label" for="abstract"> Abstract </label>
            </div>
            <input type="text" name="searchWord" class="form-control" placeholder="Search Word">
            <button class="btn btn-danger" type="button" aria-expanded="false">Search</button>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Specific Search
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <div class="form-check">
                    <li class="m-3">
                        <input class="form-check-input" type="checkbox" id="solr" name="solr" value="True" checked>
                        <label class="form-check-label" for="solr"> Solr </label><br>
                    </li>
                    <li class="m-3">
                        <input class="form-check-input" type="checkbox" id="es" name="es" value="True" checked>
                        <label class="form-check-label" for="es"> Elasticsearch </label><br>
                    </li>
                    <li class="m-3">
                        <input class="form-check-input" type="checkbox" id="lucene" name="lucene" value="True">
                        <label class="form-check-label" for="lucene"> Lucene </label><br>
                    </li>
                </div>
            </ul>
        </form>
    </div>
    <div class="container m-3">
        <div class="row">
            <div class="col-5">
                {% if results and results|length > 0 %}
                {% if numresults is not none %}
                <p><b>Alınan Veri Sayısı: </b>{{ numresults }}&emsp;<b>Geçen Süre: </b>{{timeFin}}</p>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Keywords</th>
                        <th>Domain</th>
                        <th>Area</th>
                        <th>Abstract</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in results %}
                    <tr>
                        <td>{% if document['keywords']%}{{ document['keywords'][0]}}{% endif %}</td>
                        <td>{% if document['Domain']%}{{ document['Domain'][0] }}{% endif %}
                        </td>
                        <td>{% if document['area']%}{{ document['area'][0] }}{% endif %}
                        </td>
                        <td>{% if document['Abstract']%}{{ document['Abstract'][0] }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                {% if es_results and es_results|length > 0 %}
                {% if es_count_results is not none %}
                <p><b>Alınan Veri Sayısı: </b>{{ es_count_results }}&emsp;<b>Geçen Süre: </b>{{es_finTime}}</p>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Keywords</th>
                        <th>Domain</th>
                        <th>Area</th>
                        <th>Abstract</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hit in es_results %}
                    <tr>
                        <td>{% if hit['_source']['keywords']%}{{ hit['_source']['keywords'] }}{% endif %}</td>
                        <td>{% if hit['_source']['Domain']%}{{ hit['_source']['Domain'] }}{% endif %}</td>
                        <td>{% if hit['_source']['area']%}{{ hit['_source']['area'] }}{% endif %}</td>
                        <td>{% if hit['_source']['Abstract']%}{{ hit['_source']['Abstract'] }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}